body{
    background-color: #3A5673;
}

.head{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    background-image: url(/images/back.jpg);
    background-repeat: no-repeat;


}
.right{
    text-align: right;
    margin-right: 1%;

}
.top{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    text-align: center;
    word-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

.mid{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    height: 100%;
    background-color: #D3DADA;
    height: auto;
    text-align: center;
    font-family: Ebrima;
}

.mid-home{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    height: 500px;
    background-image: url("/images/car1.jpg");
    background-size: 100% 100%;
    text-align: center;
    object-fit:fill;
}
.mid-reservation{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    height: 600px;
    background-image: url("/images/parking1.jpg");
    background-size: 100% 100%;
    text-align: center;
    object-fit:fill;
    color: black;
    padding-top: 50px;
}
.botton{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    text-align: center;
    background-color: black;
    color:white;
}
a{
    color: orange;
}
table,tr,td{

  width: auto; margin-left: auto; margin-right: auto; border: 0px solid #000;
  word-spacing: 3px;
}
table{
  margin-bottom: 15px;
}
td{
  text-align: left;
}
#map {
  height: 400px;
  width: 100%;
}
.contact{
    intput
}
input{
    height: 20px;
    width: 40%;
    border: 1px black solid;
    margin-bottom: 5px;
}
.imtab{

	height: 250px;
	width: 250px;
	border: 3px solid #000;
	object-fit:cover;
  margin-right:10px;
    }

.hometxt{
    border: 1px solid orange;
    visibility: visible;
    color: white;
    transform-origin: 50% 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translate(0px, 0px);
    margin-top: 50px;
    margin-left: 50px;
    width: 700px;
    border-width: 3px;
    border-radius: 15px 0px 15px 0px;
    font-family: Times New Roman;
    font-size: 20px;
    padding: 10px;
}
.tab_date{

 width: 250px;
  text-align: center;
  margin: 0px;
}
.tab_button{
  width: auto;
  margin: 5px;
  height: 17px;
  border-radius:10px;
  background-color:orange ;
}
.tab_button2{
  width: auto;
  margin-top: 55px;
  height: 18px;
  background-color:yellowgreen;
  color: black;
  font-size:15px;
  border: 1px solid black;
  border-radius: 10px;
}
.reserp{
text-align: center;
font-weight: bold;
}
.reserp2{
  text-align: left;
  font-weight: bold;
  }
 .tabres{
     border: 2px solid orange;
     weight: 10000px;
     height: auto;
     color: red;
     border-radius: 0px 15px 0px 15px;
     padding: 10px 10px 10px 10px;
     font-size: 18px;
     visibility: visible;
     opacity: 1;
     background-color: rgba(0, 0, 0, 0.5);
     color:white;
 }
 .tdresv{
     border: 1px solid black;
     height: auto;
     color: orange;
     font-weight: bold;
     column-width: 250px;
     text-align: center;
     font-family: Stencil;
     font-size: 18px;
 }
 .tdresv2{
     border: 1px solid black;
     weight: 150%;
     height: auto;
     text-align: center;
     font-family: Stencil;
     font-size: 18px;
 }
.resfont{
 font-family: Snap ITC;
}
