body{
    background-color: #3A5673;
}

.head{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    background-image: url(/images/back.jpg);
    background-repeat: no-repeat;


}
.right{
    text-align: right;
    margin-right: 1%;

}
.top{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    text-align: center;
    word-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

.mid{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    height: 100%;
    background-color: #D3DADA;
    height: auto;
    text-align: center;
}


.botton{
    border: 2px solid black;
    margin: 1% 5% 1% 5%;
    position: center;
    text-align: center;
}
a{
    color: orange;
}
